In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("data/housing.csv").drop("ocean_proximity",axis=1)
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0
...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0

In [3]:
data.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [4]:
data = data.dropna()
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0
...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20433 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20433 non-null  float64
 1   latitude            20433 non-null  float64
 2   housing_median_age  20433 non-null  float64
 3   total_rooms         20433 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20433 non-null  float64
 6   households          20433 non-null  float64
 7   median_income       20433 non-null  float64
 8   median_house_value  20433 non-null  float64
dtypes: float64(9)
memory usage: 1.6 MB

In [6]:
label = "median_house_value"
X = data.drop(label,axis=1)
y = data[label]

In [7]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [8]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train = pd.DataFrame(scaler.fit_transform(X_train),columns=X_train.columns)
X_test = pd.DataFrame(scaler.transform(X_test),columns=X_test.columns)

In [9]:
from sklearn.decomposition import PCA

for i in range(1,len(X_train.columns)+1):
    pca = PCA(n_components=i)
    pca.fit(X_train)
    X_train_pca = pca.transform(X_train)
    vr = round(sum(pca.explained_variance_ratio_)*100)
    print(f"With PC={i}, it include {vr:.2f}%")

With PC=1, it include 49.00%
With PC=2, it include 73.00%
With PC=3, it include 86.00%
With PC=4, it include 96.00%
With PC=5, it include 98.00%
With PC=6, it include 99.00%
With PC=7, it include 100.00%
With PC=8, it include 100.00%

In [10]:
from sklearn.decomposition import PCA

columns = [f"PC{i}" for i in range(1,5)]
pca = PCA(n_components=4)
X_train_pca = pd.DataFrame(pca.fit_transform(X_train),columns=columns)
X_test_pca = pd.DataFrame(pca.transform(X_test),columns=columns)

In [11]:
X_train_pca

            PC1       PC2       PC3       PC4
0      2.039811  1.507909  0.622847 -0.507885
1     -1.653369  0.183294 -0.137680 -0.113132
2      1.333889 -0.895661 -0.179140 -0.069225
3      1.569672 -0.800664 -1.166739 -0.121965
4     -0.326521 -1.726232 -0.112523 -0.233878
...         ...       ...       ...       ...
16341  0.230137 -1.219144  0.870498  0.052823
16342  3.302542 -1.070085  0.780021 -0.936195
16343 -0.954919 -1.007762 -0.722380  0.664638
16344  3.054516  1.771929  0.855826 -0.339551
16345  0.427254  1.815689 -0.804217  1.830351

[16346 rows x 4 columns]

In [12]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

lr = LinearRegression()
lr.fit(X_train_pca,y_train)
y_pred = lr.predict(X_test_pca)
lr.score(X_test_pca,y_test),mean_squared_error(y_test,y_pred,squared=False)

(0.5232184590744737, 80746.9737365274)

In [13]:
from sklearn.tree import DecisionTreeRegressor

dt = DecisionTreeRegressor()
dt.fit(X_train_pca,y_train)
y_pred = dt.predict(X_test_pca)
dt.score(X_test_pca,y_test),mean_squared_error(y_test,y_pred,squared=False)

(0.2873522522300611, 98719.73859124802)

In [14]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor()
rf.fit(X_train_pca,y_train)
y_pred = rf.predict(X_test_pca)
rf.score(X_test_pca,y_test),mean_squared_error(y_test,y_pred,squared=False)

(0.6200235380297334, 72084.99713453939)

In [15]:
from sklearn.ensemble import GradientBoostingRegressor

gb = GradientBoostingRegressor()
gb.fit(X_train_pca,y_train)
y_pred = gb.predict(X_test_pca)
gb.score(X_test_pca,y_test),mean_squared_error(y_test,y_pred,squared=False)

(0.6136086386314197, 72690.93286568006)

In [16]:
from xgboost import XGBRegressor

xgb = XGBRegressor()
xgb.fit(X_train_pca,y_train)
y_pred = xgb.predict(X_test_pca)
xgb.score(X_test_pca,y_test),mean_squared_error(y_test,y_pred,squared=False)

(0.6224200007174181, 71857.32218351477)

In [17]:
from lightgbm import LGBMRegressor

lgbm = LGBMRegressor()
lgbm.fit(X_train_pca,y_train)
y_pred = lgbm.predict(X_test_pca)
lgbm.score(X_test_pca,y_test),mean_squared_error(y_test,y_pred,squared=False)

(0.6412088666425337, 70046.65311843713)

In [18]:
data = pd.read_csv("data/Wine.csv")
data

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,1
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,1
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,1
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,1
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,3
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,3
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,3
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,3
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,3

In [19]:
data.isna().sum()

Alcohol                 0
Malic_Acid              0
Ash                     0
Ash_Alcanity            0
Magnesium               0
Total_Phenols           0
Flavanoids              0
Nonflavanoid_Phenols    0
Proanthocyanins         0
Color_Intensity         0
Hue                     0
OD280                   0
Proline                 0
Customer_Segment        0
dtype: int64

In [20]:
data.describe()

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258,1.938202
std,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474,0.775035
min,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000,1.000000
25%,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000,1.000000
50%,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000,2.000000
75%,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000,3.000000
max,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000,3.000000

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Alcohol               178 non-null    float64
 1   Malic_Acid            178 non-null    float64
 2   Ash                   178 non-null    float64
 3   Ash_Alcanity          178 non-null    float64
 4   Magnesium             178 non-null    int64
 5   Total_Phenols         178 non-null    float64
 6   Flavanoids            178 non-null    float64
 7   Nonflavanoid_Phenols  178 non-null    float64
 8   Proanthocyanins       178 non-null    float64
 9   Color_Intensity       178 non-null    float64
 10  Hue                   178 non-null    float64
 11  OD280                 178 non-null    float64
 12  Proline               178 non-null    int64
 13  Customer_Segment      178 non-null    int64
dtypes: float64(11), int64(3)
memory usage: 19.6 KB

In [22]:
data["Customer_Segment"].value_counts()

2    71
1    59
3    48
Name: Customer_Segment, dtype: int64

In [23]:
label = "Customer_Segment"
X = data.drop(label,axis=1)
y = data[label]

In [24]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [25]:
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()
X_train = pd.DataFrame(scaler.fit_transform(X_train),columns=X_train.columns)
X_test = pd.DataFrame(scaler.transform(X_test),columns=X_test.columns)

In [26]:
from sklearn.decomposition import PCA

for i in range(1,len(X.columns)+1):
    pca = PCA(n_components=i)
    pca.fit(X_train)
    X_pca = pca.transform(X_train)
    vr = round(sum(pca.explained_variance_ratio_)*100)
    print(f"With PC={i}, it include {vr:.2f}%")

With PC=1, it include 32.00%
With PC=2, it include 52.00%
With PC=3, it include 66.00%
With PC=4, it include 74.00%
With PC=5, it include 81.00%
With PC=6, it include 86.00%
With PC=7, it include 90.00%
With PC=8, it include 93.00%
With PC=9, it include 95.00%
With PC=10, it include 97.00%
With PC=11, it include 98.00%
With PC=12, it include 99.00%
With PC=13, it include 100.00%

In [27]:
from sklearn.decomposition import PCA

columns = [f"PC{i}" for i in range(1,8)]
pca = PCA(n_components=7)
X_train_pca = pd.DataFrame(pca.fit_transform(X_train),columns = columns)
X_test_pca = pd.DataFrame(pca.transform(X_test),columns = columns)
X_train_pca

          PC1       PC2       PC3       PC4       PC5       PC6       PC7
0   -0.891386 -2.792429  0.180711  1.347485  0.118852  2.310146  0.082925
1   -2.769469 -0.491648  0.959204  0.381752  0.004392 -1.026685  0.728717
2    1.415731  0.947951 -0.026652  0.749580 -0.156492  0.691434 -0.653896
3   -1.142728 -1.925212 -0.145231  1.143835 -0.177194  2.028621 -0.017546
4    1.191389  0.772664 -0.818308 -0.520512 -0.480503 -0.202147 -0.034657
..        ...       ...       ...       ...       ...       ...       ...
137  0.702736  0.380007  1.880913  0.344839 -0.783085  0.353996 -0.771281
138 -0.104893  1.584164 -0.107829  0.453051 -0.311154  0.323931 -0.048018
139  3.001222 -1.573379 -1.056447  0.832937 -0.612452  0.087678  0.690689
140 -0.973740  1.247319  0.146957  0.187027 -0.587288  0.708534  0.770473
141 -0.306694  0.662201  0.830880  0.061116  0.108727 -0.343371 -0.620099

[142 rows x 7 columns]

In [28]:
from sklearn.linear_model import LogisticRegression

log = LogisticRegression()
log.fit(X_train_pca,y_train)
log.score(X_test_pca,y_test)

1.0

In [29]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier()
dt.fit(X_train_pca,y_train)
dt.score(X_test_pca,y_test)

0.8611111111111112

In [30]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier()
rf.fit(X_train_pca,y_train)
rf.score(X_test_pca,y_test)

1.0

In [31]:
feature_importances = pd.DataFrame()
feature_importances["feature"] = X_train_pca.columns
feature_importances["importance"] = rf.feature_importances_
feature_importances

  feature  importance
0     PC1    0.342965
1     PC2    0.312152
2     PC3    0.085630
3     PC4    0.044951
4     PC5    0.081747
5     PC6    0.079589
6     PC7    0.052966

In [32]:
from sklearn.svm import SVC

svc = SVC()
svc.fit(X_train_pca,y_train)
svc.score(X_test_pca,y_test)

1.0

In [33]:
from sklearn.neighbors import KNeighborsClassifier

for i in range(1,11):
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(X_train_pca,y_train)
    print(f"K = {i:>2}, accuracy: {knn.score(X_test_pca,y_test)}")

K =  1, accuracy: 0.9444444444444444
K =  2, accuracy: 0.9444444444444444
K =  3, accuracy: 0.9444444444444444
K =  4, accuracy: 0.9444444444444444
K =  5, accuracy: 0.9444444444444444
K =  6, accuracy: 0.9444444444444444
K =  7, accuracy: 0.9444444444444444
K =  8, accuracy: 0.9722222222222222
K =  9, accuracy: 0.9722222222222222
K = 10, accuracy: 0.9722222222222222

In [35]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=8)
knn.fit(X_train_pca,y_train)
knn.score(X_test_pca,y_test)

0.9722222222222222